<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>
<label for="selection">Please select desired option</label>
<select id="selection" name="typeSelected" [(ngModel)]="typeSelected" (change)="retrieveTypeItems()">
  <option value="ImageType" selected>Image</option>
  <option value="EstateType">Estate</option>
  <option value="ApplianceType">Appliance</option>
  <option value="EstateFeatureType">Estate Feature</option>
  <option value="FacilityType">Facility</option>
  <option value="PieceType">Piece</option>
  <option value="SellingOfferType">Selling Offer</option>
</select>
<div style="float: right">

  <button (onclick)="newItem()"
          class="btn btn-primary glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add New Item"></button>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let item of typeItems" (click)= "radioSelected = item.id">
    <td><input type="radio" id="{{item.id}}" [(ngModel)]="radioSelected" value="{{item.id}}"
               style="width: auto" ></td>
    <td>{{item.id}}</td>
    <td *ngIf="editMode === item.id">
      <input value="{{item.type}}" [(ngModel)]="item.type"/>
      <button class="btn btn-primary glyphicon glyphicon-ok" (click)="updateItem(item.id, item.type)"></button>
    </td>
    <td *ngIf="editMode !== item.id">{{item.type}}</td>
    <td>
    <button  (click)="editItem(item.id)"
             class="btn btn-primary glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit Selected Item"></button>
  </td>
  <td>
    <button  (click)="removeItem(item.id)"
             class="btn btn-primary glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Remove Selected Item"></button>
  </td>
  </tr>
</table>
</body>
</html>
