<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Estate</title>
</head>
<body>

<form #newEstate="ngForm" (ngSubmit)="createEstate(newEstate.value)" novalidate style="width: 500px">
  <div class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <label for="country" class="title">Country</label>
            <select name="country" id="country" [(ngModel)]="selectedCountry" (change)="populateStates()" class="form-control" style="width: 200px">
              <option *ngFor="let c of countries" [ngValue]="c">{{ c.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="state" class="title">State</label>
            <select name="state" id="state"[(ngModel)]="selectedState" (change)="populateCities()" class="form-control">
              <option *ngFor="let s of states" [ngValue]="s">{{ s.name }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="city" class="title">City</label>
            <select name="city" id="city"[(ngModel)]="selectedCity" (change)="populateDistricts()" class="form-control">
              <option *ngFor="let c of cities" [ngValue]="c">{{ c.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="district" class="title">District</label>
            <select name="district" id="district"[(ngModel)]="selectedDistrict" class="form-control">
              <option *ngFor="let d of districts" [ngValue]="d">{{ d.name }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label for="street" class="title">Address</label>
            <!--<input type="number" name="number" value="number"/>-->
            <input type="text" name="street" id="street"  (ngModel)="street" class="form-control"/>
          </div>
          <div class="col-md-4">
            <label for="postalcode">Postal Code</label>
            <input type="text" name="postalcode" id="postalcode" (ngModel)="postalcode" class="form-control"/>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-body">
  <div class="row">
    <div class="col-md-4">
    <label for="sellingOfferType" class="title">Selling Type</label>
    <select id="sellingOfferType" name= "sellingOfferType" (ngModel)="sellingOfferType" class="form-control">
      <option *ngFor="let offer of sellingOfferTypes" [ngValue]="offer">{{offer.type}}</option>
    </select>
    </div>
    <div class="row col-md-4">
      <label for="estateType" class="title">Estate Type</label>
      <select id="estateType" (ngModel)="estateType" name="estateType" class="form-control">
        <option *ngFor="let type of estateTypes" [ngValue]="type">{{type.type}}</option>
      </select>
    </div>
    <div class="col-md-4">
    <label for="age" class="required">Age</label>
    <input type="number" id="age" name="age" (ngModel)="age"/>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
    <label for="baseprice">Base Price</label>
    <input id="baseprice" name="baseprice" type="number"  min="0" max="20000000" (ngModel)="baseprice" class="form-control"/>
    </div>
  </div>

  <div class="row col-md-6">
  <label for="renewDate" class="title">Renovation Date:</label>
  <input name="renewDate" id="renewDate" (ngModel)="renewDate" />
  </div>
  </div>
    </div>
  <div class="row col-md-12">
<button type="submit" class="btn btn-primary btn-block">Add Estate</button>
    <button type="button" class="btn btn-default btn-block">Cancel</button>
  </div>
  </div>
</form>
  <!---->

    <!--<td>-->



    <!--</td>-->


<!--</table>-->
<!--<div>-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td style="padding-right: 100px;">-->
        <!--<label title="Extra Information" class="title">Estate Description:</label><br />-->

        <!--<textarea id="container" ng-model="estateExtraInfo" rows="5" cols="25"></textarea>-->
      <!--</td>-->

      <!--<td>-->
        <!--<label title="Extra Information" class="title">Selling Description:</label><br />-->
        <!--<textarea id="container2" ng-model="sellingExtraInfo" rows="5" cols="25"></textarea>-->
      <!--</td>-->
    <!--</tr>-->


</body>
</html>
