<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Find offer</title>
</head>
<body>
<form #findOfferFrom="ngForm" (ngSubmit)="findOffer(findOfferFrom.value)" novalidate>
  <div>
    <label for="offerId">Enter Offer ID</label>
    <input id="offerId" class="form-control" (ngModel)="offer.id" name="offerId" required type="text" style="width: auto" />
    <button type="submit" [disabled]="findOfferFrom.invalid">Find</button>
  </div>
  <div *ngIf="offer">
    <table class="table table-hover" style="width:auto">
      <tr>
      <th> Name</th>
      <th> Email</th>
      <th> Phone</th>
      <th> Price</th>
      <th> Additional Information</th>
        <th></th>
      </tr>
      <tr>
        <td>{{offer.name}} {{offer.family}}</td>
        <td>{{offer?.email}}</td>
        <td>{{offer?.phone}}</td>
        <td>{{offer.offerPrice}}</td>
        <td>{{offer?.offerExtraInfo}}</td>
        <td><button type="button" (click)="accept(offer.offerId)">Accept</button> </td>
      </tr>
    </table>

  </div>
</form>
</body>
</html>
